extends ./layout

block head-link
  link(rel="stylesheet" type="text/css" href="https://kokon.co.ua/css/category.css")
  link(type="text/css" rel="stylesheet" href="https://kokon.co.ua/css/lightgallery.min.css")
  link(type="text/css" rel="stylesheet" href="https://kokon.co.ua/css/lg-transitions.min.css")
    
block content
  script(src="https://kokon.co.ua/js/lightgallery.min.js")
  script(src="https://kokon.co.ua/js/lg-thumbnail.min.js")
  section#top
    h1.title= category.name
    hr  
    //- .summary
    //-   .letter
    //-     h1.title= category.name
    //-     hr
    //-     p.description= category.description  
    #lightgallery  
      //- .galery-item
      //- .galery-item  
      each url in category.img_urls
        a(href=url).galery-item
            img(src=url)
            .overlay    
  script.
    lightGallery(document.getElementById('lightgallery'), {
      mode: 'lg-slide',
      download: false
    });
