extends ./layout

block head-link
  link(rel="stylesheet" type="text/css" href='css/index.css')
block content
    section.image#i
      .welcome-message
        | Хотите праздника...?
        br
        br
        | Будет!
      .scroll-down  
        .fa-stack.fa-2x
          a(href="/#about").scroll.menu-item
            i.fa.fa-circle.fa-stack-2x
            i.fa.fa-angle-double-down.fa-stack-1x.text-primary
    section#about
      h1 Студия "Кокон"
      hr
      p.
        У Вас мероприятие? Мы можем предложить Вам варианты решений на любые случаи жизни. 
        Костюмы и грим для стилизованных корпоративов, тематических вечеринок и неординарного дня рождения, 
        спецгрим и пластический грим на Хэллоуин, а также изысканные прически и макияж на выпускной вечер и свадьбу. 
      br
      span
        img(src="/img/about-imgs.png" alt="Студия Кокон. О нас.")  
      p.
         Мы команда профессионалов с опытом работы более 10 лет в шоу-бизнесе, кино, рекламе, ТВ. 
         Профессионально подойдем к работе любой сложности.       
    section#services
      h2 ПОРТФОЛИО
      hr
      .categories
        - let names = ['Телевидение', 'Кино', 'Корпоратив', 'Свадьба', 'Спецгрим', 'Шоу-бизнес']
        - let src = ['img/tv.jpg', 'img/movie.jpg', 'img/corporate.jpg', 'img/wedding.jpg', 'img/special-makeup.jpg', 'img/show-business.jpg']
        - let hrefs = ['tv', 'movie', 'corporate', 'wedding', 'special-makeup', 'show-business']
        - for (let i = 0; i < 6; i++) {
          .wrapper
            a(href=hrefs[i])
              img(src=src[i], alt='Студия "Кокон".' + names[i] + '.')
              h3.title #{names[i]}
              .overlay  
        - }
    section#benefits
      h2 ПРЕИМУЩЕСТВА РАБОТЫ С НАМИ:
      hr        
      div
        p#departure
          | работа на выезд  (по всей Украине)
        p#quality
          | гарантия качества
        p#costumes
          span
            | свой костюмерно-пошивочный цех
    section#collective-work
      h2 КОЛЛЕКТИВНАЯ РАБОТА
      hr
      p.
        Наша команда очень коммуникабельна и готова всегда с радостью приехать к Вам на площадку или в офис, 
        чтобы создать нужный образ для каждого гостя вашего праздника или любого другого мероприятия. 
      br
      p.
        Работаем как в комплексе (костюм, грим, прически), так и по каждой услуге отдельно.  
      .logo-inner
        h2.main-title KOKON
        h3.main-subtitle Costume, Makeup & Hairstyle
    section#prices
        h2 Цены
        hr
        p.
          Для сотрудничества с нами Вам нужно описать задачу, обозначить стилистику мероприятия и указать 
          количество участников, а мы в максимально короткие сроки составим такое предложение, 
          которое Вас не сможет оставить равнодушными.
    section#feedback
      h2 ОСТАЛИСЬ ВОПРОСЫ?
      hr
      .numbers
        a(href="tel:+380674068244").phone +38 067 406 82 44
        a(href="tel:+380679854825").phone +38 067 985 48 25
      hr
      .sms_form
        note Или оставьте свой номер и мы Вам обязательно перезвоним!
        form#requestCall
          ul
            li
              input(type="text" name="name" placeholder="Имя" pattern='^[a-zA-Zа-яА-ЯІіЇїЄєЫыЪъэЭ ]+$' required)#name
            li
              input(type="tel" maxlength="15" title="Номер телефона" placeholder="(012) 345-67-89" name="number" pattern='^[\\(][0]{1}\\d{2}[\\)]\\s\\d{3}-\\d{2}-\\d{2}$' required="" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);")#number
            li    
              input(type="submit" value="Отправить") 
    script(async).

      $(function() {
        let regExp = /[^a-zA-Zа-яА-ЯіїєыъЫЭЪІЇЄ ]+$/i;
        $('#feedback input[type="text"]').on('keydown keyup', function(e) {
          let value = e.key;
          if (regExp.test(value) && value != 'Backspace' && value != 'Enter') {
            e.preventDefault();
            return false;
          }
        })
      });      

      let number = $('#number');
      $(function() {
        let regExp = /[^0-9\b\f\r]/i;
        $('#feedback input[type="tel"]').on('keydown keyup', function(e) {
          let value = String.fromCharCode(e.which) || e.key;
          if (regExp.test(value) && value != 't') {
            e.preventDefault();
            return false;
          }
          
          let number = $(this).val().length
          let content = $(this).val()
          if (number == 1 && content !== "(")
              $(this).val('(' + content)
          else if (number == 5 && content[4] !== ")")
            $(this).val(content.substring(0, 4) + ') ' + content.substring(4, content.length))
          else if (number == 6 && content[5] !== " ") 
            $(this).val(content.substring(0, 5) + ' ' + content.substring(5, content.length))
          else if (number == 10 && content[9] !== "-") 
            $(this).val(content.substring(0, 9) + '-' + content.substring(9, content.length))
          else if (number == 13 && content[12] !== "-") 
            $(this).val(content.substring(0, 12) + '-' + content.substring(12, content.length))  
        });

        if (localStorage.sms_sent && new Date(localStorage.sms_sent).getDate() == new Date().getDate()) { 
          $('.sms_form').html('<h3>Спасибо! Ожидайте нашего звонка.</h3>');
        } 
      });

      $('#requestCall').on('submit',function (e) {
              $.ajax({
                type: 'post',
                url: '/sms',
                data: $('#requestCall').serialize(),
                success: function () {
                  
                }
              });
              localStorage.setItem('sms_sent', new Date()); 
              $('.sms_form').html('<h3>Спасибо! Ожидайте нашего звонка.</h3>');
          e.preventDefault();
        });
              
