extends ./layout

block head-link
  link(rel="stylesheet" type="text/css" href='css/index.css')
block content
    section#image
      img(src="img/main-bckg.png" alt='Студия "Кокон". Главная страница.')
    section#about
      p
        | Студия "Кокон" - это команда профессионалов с опытом работы более 10 лет в шоу-бизнессе,
        | кино, рекламе, ТВ. Профессионально подойдем к работе любой сложности для корпоративов,
        | свадебных церемоний, фотосессий, костюмированных праздников
        | (с использованием париков и спецгрима).
      span
        img(src="img/about-imgs.png" alt='О нас. Студия "Кокон".')
      p
        | Можем работать как в комплексе (костюм, грим, прически),
        | так и по каждой услуге отдельно.
    section#services
      h2 ПОРТФОЛИО
      .categories
        div
          img(src="img/tv.jpg" alt='Студия "Кокон". Телевидение.')
          h3 Телевидение
        div
          img(src="img/movie.jpg" alt='Студия "Кокон". Кино.')
          h3 Кино
        div
          img(src="img/corporate.jpg" alt='Студия "Кокон". Корпоратив.')
          h3 Корпоратив
        div
          img(src="img/wedding.jpg" alt='Студия "Кокон". Свадьба.')
          h3 Свадьба
        div
          img(src="img/special-makeup.jpg" alt='Студия "Кокон". Спецгрим.')
          h3 Спецгрим
        div
          img(src="img/show-business.jpg" alt='Студия "Кокон". Шоу-бизнес.')
          h3 Шоу-бизнес
    section#benefits
      h2 ПРЕИМУЩЕСТВА РАБОТЫ С НАМИ:
      div
        #departure
          | работа на выезд  (по всей Украине)
        #quality
          | гарантия качества
        #costumes
          | свой костюмено-пошивочный цех
    section#collective-work
      h2 КОЛЛЕКТИВНАЯ РАБОТА
      p
        | Наша команда быстро и качественно работает на мероприятиях,
        | где необходимо в сжатые строки обслужить большое количество людей.
      .logo-inner
        h2.main-title KOKON
        h3.main-subtitle Costume, makeup & hairstyle
    section#feedback
      h2 ОСТАЛИСЬ ВОПРОСЫ?
      form
        input(type="text" placeholder="ИМЯ/ФАМИЛИЯ" name="name")#name
        input(type="tel" placeholder="(0XX) XXX-XX-XX" title="(0XX) XXX-XX-XX" name="number" pattern='^[\\(][0]{1}\\d{2}[\\)]\\s\\d{3}-\\d{2}-\\d{2}$' required="")#number
        input(type="submit" value="Отправить")