doctype html
html(xmlns="http://www.w3.org/1999/xhtml" lang="ua")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="apple-touch-icon", sizes="76x76", href="https://kokon.co.ua//img/favicons/apple-touch-icon.png")
    link(rel="icon", type="image/png", href="https://kokon.co.ua//img/favicons/favicon-32x32.png", sizes="32x32")
    link(rel="icon", type="image/png", href="https://kokon.co.ua//img/favicons/favicon-16x16.png", sizes="16x16")
    link(rel="manifest", href="https://kokon.co.ua//img/favicons/manifest.json")
    link(rel="mask-icon", href="https://kokon.co.ua//img/favicons/safari-pinned-tab.svg", color="#5bbad5")
    link(rel="shortcut icon", href="https://kokon.co.ua//img/favicons/favicon.ico")
    meta(name="apple-mobile-web-app-title", content="KOKON")
    meta(name="application-name", content="KOKON")
    meta(name="msapplication-config", content="https://kokon.co.ua/img/favicons/browserconfig.xml")
    meta(name="theme-color", content="#ffffff")
    link(href="https://fonts.googleapis.com/css?family=Exo+2:200,300,300i,400,400i,600&amp;subset=cyrillic" rel="stylesheet")
    meta(name='msapplication-TileColor', content='#ffffff')
    meta(name='msapplication-TileImage', content='https://kokon.co.ua/img/favicons/ms-icon-144x144.png')
    meta(name='theme-color', content='#ffffff')
    block title
      title= title || 'Студия "Кокон"'
    link(rel="stylesheet" type="text/css" href='https://kokon.co.ua/font-awesome/css/font-awesome.min.css')
    link(rel="stylesheet" type="text/css" href='https://kokon.co.ua/css/style.css')
    link(rel="stylesheet" type="text/css" href='https://kokon.co.ua/css/font-awesome-extension.min.css')
    block head-link
    script(type="text/javascript" src="https://kokon.co.ua/js/jquery-3.1.1.min.js")  
    script(type="text/javascript" src="https://kokon.co.ua/js/scrollreveal.min.js")
    script.
      window.sr = ScrollReveal();
      if (sr.isSupported()) {
        document.documentElement.classList.add('sr');
      }
    
    
  body
    header#header
      a(href="/#i").logo-space.scroll 
        h2.main-title KOKON
        h3.main-subtitle Costume, Makeup & Hairstyle
        
      div
        .slogan Профессионально подойдем к работе любой сложности
        nav.cl-effect-11
          ul
            li
              a(href="/#about" data-hover="о нас").scroll о нас
            li
              a(href="/#services" data-hover="услуги").scroll услуги
            li
              a(href="/#benefits" data-hover="преимущества").scroll преимущества
            li
              a(href="/#feedback" data-hover="контакты").scroll контакты
            li
              a(href="/#prices" data-hover="цены").scroll  цены
      .numbers
        i.fa.fa-mobile
        .phone +38 067 406 82 44
        .phone +38 067 985 48 25
    #header-mobile    
      a(href="/").logo-space
        .main-title KOKON
        .main-subtitle Costume, Makeup & Hairstyle
    nav.mobile-menu
      input#menu-open.menu-open(type='checkbox', href='#', name='menu-open')
      label.menu-open-button(for='menu-open')
        span.hamburger.hamburger-1
        span.hamburger.hamburger-2
        span.hamburger.hamburger-3
      a(href="/#about").scroll.menu-item о нас   
      a(href="/#services").scroll.menu-item услуги
      a(href="/#feedback").scroll.menu-item контакты
      a(href="/#prices").scroll.menu-item цены 
    
    #content
      block content
    footer
      .copyright
        | Copyright © 2017
        a(href='/')  COCON.CO.UA
      .social
        a(href="#" title="Наш YouTube канал")
          <i class="fa fa-youtube" aria-hidden="true"></i>  
        a(href="#" title="Наш Facebook профиль")
          <i class="fa fa-facebook-official" aria-hidden="true"></i>  
        a(href="#" title="Наш Instagram профиль")
          <i class="fa fa-instagram" aria-hidden="true"></i>    
      .logo-space
        a(href="#")
          .main-title KOKON
          small Costume, Makeup & Hairstyle
        
       
  script(async).
    $( document ).ready(function () {
      let hashTagActive = "";
      let headerHeight = $( document ).width() < 768 ? 0 : $( document ).width() < 992 ? 70 : 80
      $( window ).resize(function() {
        headerHeight = $( document ).width() < 768 ? 0 : $( document ).width() < 992 ? 70 : 80
      })
      if (location.pathname == "/")
        $(".scroll").on("click touchstart", function (event) {
          if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') || location.hostname == this.hostname) {
              event.preventDefault();
              let dest = 0;
              if ($(this.hash).offset().top > $(document).height() - $(window).height()) {
                dest = $(document).height() - $(window).height();
              } else {
                dest = $(this.hash).offset().top;
              }
              $('html,body').animate({
                scrollTop: dest - headerHeight
              }, 1000);
              hashTagActive = this.hash;
          }
        });
      
      $(window).click(function() {
          $('.menu-open').prop('checked', false);
      });
      
      $('.menu-open, .mobile-menu').click(function(event){
          event.stopPropagation();
      });
      
      function headerMode() {
        if ($(document).scrollTop() > 147) {
          $("#header").addClass("compressed");
        } else {
          $("#header").removeClass("compressed");
        }
      }
      headerMode();
      let wrap = $(document);
      wrap.on("scroll", function (e) {
        headerMode();
      });
      
      sr.reveal('footer .social');
    
    });
    
