#header
  position fixed
section
  box-shadow black 0 6px 10px -8px
  border-bottom 3px solid rgba(0,0,0,0.2)
  padding: 47px 10px
  box-sizing: border-box
  @media (min-width: 768px)
    padding: 47px 30px
  @media (min-width: 992px)
    padding: 47px 50px
  h2
    font-size: 22px
    font-weight: 400
    color #545454
  p
    font-weight 400
    @media (min-width: 768px)
      font-size 14px
    @media (min-width: 992px)
      font-size 18px
    @media (min-width: 1200px)
      font-size 22px
.image
  width 100vw
  height 100vh
  overflow hidden
  background linear-gradient(to right, rgba(76, 76, 76, 0.6) 0%, rgba(131, 131, 131, 0.3) 50%, rgba(77, 77, 77, 0.6) 99%), url('../img/main-bckg-1.jpg') no-repeat center center scroll
  background-size cover
  display: flex
  flex-direction: column
  justify-content: flex-end
  align-content: center
  @media (min-width: 768px)
    justify-content: space-between
    padding: 35vh 0 0 0
  box-sizing: border-box
  text-align: center
  .welcome-message
    padding: 0 20%
    text-transform: uppercase
    box-sizing: border-box;
    width 100%
    font-weight: 500
    font-size: min(4vw, 9vh)
    color: rgba(255, 255, 255, 1)
    text-shadow 0 2px 2px rgba(0,0,0,0.9)    
    font-family: 'Exo 2'
    min-height: 50vh
    font-size: 5.5vw    
    padding: 33vh 13vw  0 13vw  
    @media (min-width: 768px)
      padding: 19vh 13vw
      font-size: 3.5vw

  .scroll-down
    width 100%
    a
      i:first-child
        // color: rgba(0, 0, 0, .1)
        color rgba(255, 255, 255, .3)
      i:last-child
        color rgba(255, 255, 255, 1)
        text-shadow 0 1px 1px rgba(0,0,0,0.9)            
        margin-top: 2px
    a:hover
      i:last-child
        animation: scrollMe .5s infinite

#about, #prices
  text-align center
  p
    font-weight 400 
    margin 30px auto
    @media (min-width: 768px)
      width 70%
  span
    img   
      width: 40vw
      @media (min-width: 500px)
        width: 20vw
          

#services
  text-align center
  background: url('/img/b31.png')
  .categories
    position relative
    display flex
    justify-content space-around
    flex-flow row wrap
    .wrapper
      position relative
      display inline-block
      flex 1
      outline none
      text-shadow 0 0 1px rgba(255,255,255,0.3)
      margin-bottom: 74px
      .overlay
        height: 257px
        width: 287px
        margin-top: -263px
        position: absolute
        left: 50%
        transform: translateX(-144px)
        background: linear-gradient(to right, rgba(13,13,13,0.2) 0%,  rgba(255,255,255,0.1) 50%, rgba(13,13,13,0.2) 99%)
        z-index: 20
        &:after
          transition: all .1s linear
          content: ''
          position: absolute
          left: 0
          box-shadow: 0 0 10px black
          border-radius: 50%
          width: 100%
          height: 20px
          display: block
          bottom: 0px
          clip: rect(20px auto 40px auto)
        &:hover
          // box-shadow: 0 0 20px black
          &:after
            box-shadow: 0 0 15px black
      a
        color black
        text-decoration none
        position: relative
        img
          box-sizing: border-box
          border-radius: 2px
          height: 257px
          width: 287px
      .title
        box-sizing: border-box
        text-transform: uppercase
        display: inline-block
        position: absolute
        font-size: 26px
        font-weight: 200
        margin: 0
        z-index: 20
        left: 0px
        padding-top: 268px
        color: #090804
        width: 287px;
        &:hover
          text-shadow: 0px 1px 1px rgba(0, 0, 0, .3)
      @media (min-width: 768px)
        flex-basis 50%
      @media (min-width: 992px)
        flex-basis 33%
      h3
        text-transform: uppercase
#benefits
  text-align: center
  div
    position relative
    width: 100%
    display flex
    justify-content space-around
    flex-flow row wrap
    p
      cursor: pointer
      flex 1
      margin: 10px 10px 40px 10px
      padding-top: 160px
      background-repeat: no-repeat
      background-position: center
      span
        display: inline-block;
      @media (max-width: 768px)
        flex-basis 100%
      @media (min-width: 768px)
        flex-basis 30%
      @media (min-width: 992px)
        flex-basis 30%
      &#departure
        background-image url("../img/departure.png")
        &:hover
          animation: benefitsAnim1 .4s infinite
      &#quality
        background-image url("../img/quality.png")
        &:hover
          animation: benefitsAnim2 .4s infinite
      &#costumes
        background-image url("../img/costumes.png")
        &:hover
          animation: benefitsAnim3 .4s infinite
#collective-work
  text-align: center
  background linear-gradient(to right, rgba(13,13,13,0.1) 0%, rgba(255,255,255,0.28) 30%,  rgba(255,255,255,0.28) 70%, rgba(13,13,13,0.1) 99%), url("../img/collective-bckg.jpg") center center scroll
  background-size cover
  background-repeat: no-repeat  
  p
    width 78%
    margin: auto
    font-weight: 600
    @media (min-width: 992px)
      width 70%
  .logo-inner
    cursor: default
    width: 100vw
    margin-top: 50px
    margin-left: -10px
    @media (min-width: 768px)
      margin-left: -30px
    @media (min-width: 992px)
      margin-left: -50px
    background: rgba(255,255,255,.4)
    padding 3vw 0
    border-top: 2px solid rgba(0,0,0,.3)
    border-bottom: 2px solid rgba(0,0,0,.3)
    box-sizing: border-box
    .main-title
      font-weight 400
      text-transform uppercase
      // font-family "Bask Old Face"
      font-family "Times New Roman"
      font-size 30px
      line-height 20px
      margin 15px 0 0 0
      @media (min-width: 768px)
        margin 10px 0 0 0
      @media (min-width: 992px)
        height 34px
        margin 0
        font-size 42px
        line-height 28px
      @media (min-width: 1200px)
        height 34px
        margin 0
        font-size 48px
        line-height 28px
    .main-subtitle
      font-weight 200
      font-size 6.8px
      @media (min-width: 768px)
        line-height 10px
      @media (min-width: 992px)
        height 26px
        margin 0px 0 0 0
        font-size 10px
        line-height 32px
      @media (min-width: 1200px)
        font-size 11px
        line-height 28px
#feedback
  text-align: center
  background linear-gradient(to right, rgba(13,13,13,0.1) 0%, rgba(255,255,255,0.28) 30%,  rgba(255,255,255,0.28) 70%, rgba(13,13,13,0.1) 99%), url("../img/collective-bckg.jpg") center center scroll
  background-size cover
  background-repeat: no-repeat
  .numbers
    a
      font-family: 'amsdam'
      display: block
      color #000
      text-decoration: none
  form
    background:#fff
    border-radius:2px
    padding:20px
    background: transparent
    ul
      width: 100%
      list-style: none
      padding: 0
      margin: 0
      display: flex
      justify-content: space-around
      flex-flow row wrap
      li
        flex 1
        display: inline-block
        padding: 9px
        margin: 10px
        @media (max-width: 768px)
          flex-basis 100%
        @media (min-width: 768px)
          flex-basis 30%
        &:last-child
          border: none
          margin-bottom: 0px
          text-align: center
          @media (min-width: 768px)
            flex-basis 10%

      input[type="text"],
      input[type="tel"]
        font-family: 'amsdam'
        padding: 25px 20px
        color: #666
        box-sizing: border-box
        width: 100%
        display: block
        outline: none
        border: none
        height: 25px
        line-height: 25px
        font-size: 14px
        border: 1px solid #DDDDDD
        border-radius: 3px
        @media (min-width: 768px)
          font-size: 18px
      input[type="submit"]
        width 100%
        height: 51px
        background: #e1e1e1
        padding: 10px 20px 10px 20px
        border-radius: 2px
        cursor: pointer
        text-transform: uppercase
        letter-spacing: 2px
        border: 0px solid #c5c5c5  
        border-bottom: 3px solid #c5c5c5        
        color: #7a7a7a
        &:focus
          outline: none
        &:hover
          background: #cecece
          color: #222
          border-bottom: 3px solid #666       
          
          
@keyframes scrollMe {
  0% {
    margin 0 0 0 0
  }
  40% {
    margin 5px 0 0 0
  }
  95% {
    margin  0 0 0 0
  }
}
@keyframes benefitsAnim1 {
  0% {
    background-position: center
  }
  40% {
    background-position-x: 49%;
  }
  70% {
    background-position: center
  }
  90% {
    background-position-x: 51%;
  }
}
@keyframes benefitsAnim2 {
  0% {
    background-position: center
  }
  40% {
    background-position-y: 48%;
  }
  70% {
    background-position: center
  }
  90% {
    background-position-y: 52%;
  }
}
@keyframes benefitsAnim3 {
  0% {
    background-position: center
  }
  40% {
    background-position-y: 46%;
  }
  70% {
    background-position: center
  }
  90% {
    background-position-y: 54%;
  }
}
