#header {
  position: fixed;
}
section {
  -webkit-box-shadow: #000 0 6px 10px -8px;
  box-shadow: #000 0 6px 10px -8px;
  border-bottom: 3px solid rgba(0,0,0,0.2);
  padding: 47px 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@media (min-width: 768px) {
  section {
    padding: 47px 30px;
  }
}
@media (min-width: 992px) {
  section {
    padding: 47px 50px;
  }
}
section h2 {
  font-size: 22px;
  font-weight: 400;
  color: #545454;
}
section p {
  font-weight: 400;
}
@media (min-width: 768px) {
  section p {
    font-size: 14px;
  }
}
@media (min-width: 992px) {
  section p {
    font-size: 18px;
  }
}
@media (min-width: 1200px) {
  section p {
    font-size: 22px;
  }
}
.image {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: -webkit-linear-gradient(left, rgba(76,76,76,0.6) 0%, rgba(131,131,131,0.3) 50%, rgba(77,77,77,0.6) 99%), url("../img/main-bckg-1.jpg") no-repeat center center scroll;
  background: -moz-linear-gradient(left, rgba(76,76,76,0.6) 0%, rgba(131,131,131,0.3) 50%, rgba(77,77,77,0.6) 99%), url("../img/main-bckg-1.jpg") no-repeat center center scroll;
  background: -o-linear-gradient(left, rgba(76,76,76,0.6) 0%, rgba(131,131,131,0.3) 50%, rgba(77,77,77,0.6) 99%), url("../img/main-bckg-1.jpg") no-repeat center center scroll;
  background: -ms-linear-gradient(left, rgba(76,76,76,0.6) 0%, rgba(131,131,131,0.3) 50%, rgba(77,77,77,0.6) 99%), url("../img/main-bckg-1.jpg") no-repeat center center scroll;
  background: linear-gradient(to right, rgba(76,76,76,0.6) 0%, rgba(131,131,131,0.3) 50%, rgba(77,77,77,0.6) 99%), url("../img/main-bckg-1.jpg") no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -moz-box-pack: end;
  -o-box-pack: end;
  -ms-flex-pack: end;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  -ms-flex-line-pack: center;
  -webkit-align-content: center;
  align-content: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
}
@media (min-width: 768px) {
  .image {
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    -o-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    padding: 35vh 0 0 0;
  }
}
.image .welcome-message {
  padding: 0 20%;
  text-transform: uppercase;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  font-weight: 500;
  font-size: 4vw;
  color: #fff;
  text-shadow: 0 2px 2px rgba(0,0,0,0.9);
  font-family: 'Exo 2';
  min-height: 50vh;
  font-size: 5.5vw;
  padding: 33vh 13vw 0 13vw;
}
@media (min-width: 768px) {
  .image .welcome-message {
    padding: 19vh 13vw;
    font-size: 3.5vw;
  }
}
.image .scroll-down {
  width: 100%;
}
.image .scroll-down a i:first-child {
  color: rgba(255,255,255,0.3);
}
.image .scroll-down a i:last-child {
  color: #fff;
  text-shadow: 0 1px 1px rgba(0,0,0,0.9);
  margin-top: 2px;
}
.image .scroll-down a:hover i:last-child {
  -webkit-animation: scrollMe 0.5s infinite;
  -moz-animation: scrollMe 0.5s infinite;
  -o-animation: scrollMe 0.5s infinite;
  -ms-animation: scrollMe 0.5s infinite;
  animation: scrollMe 0.5s infinite;
}
#about,
#prices {
  text-align: center;
}
#about p,
#prices p {
  font-weight: 400;
  margin: 30px auto;
}
@media (min-width: 768px) {
  #about p,
  #prices p {
    width: 70%;
  }
}
#about span img,
#prices span img {
  width: 40vw;
}
@media (min-width: 500px) {
  #about span img,
  #prices span img {
    width: 20vw;
  }
}
#services {
  text-align: center;
  background: url("/img/b31.png");
}
#services .categories {
  position: relative;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: distribute;
  -moz-box-pack: distribute;
  -o-box-pack: distribute;
  -ms-flex-pack: distribute;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -o-box-orient: horizontal;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
}
#services .categories .wrapper {
  position: relative;
  display: inline-block;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  outline: none;
  text-shadow: 0 0 1px rgba(255,255,255,0.3);
  margin-bottom: 74px;
}
#services .categories .wrapper .overlay {
  height: 257px;
  width: 287px;
  margin-top: -263px;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-144px);
  -moz-transform: translateX(-144px);
  -o-transform: translateX(-144px);
  -ms-transform: translateX(-144px);
  transform: translateX(-144px);
  background: -webkit-linear-gradient(left, rgba(13,13,13,0.2) 0%, rgba(255,255,255,0.1) 50%, rgba(13,13,13,0.2) 99%);
  background: -moz-linear-gradient(left, rgba(13,13,13,0.2) 0%, rgba(255,255,255,0.1) 50%, rgba(13,13,13,0.2) 99%);
  background: -o-linear-gradient(left, rgba(13,13,13,0.2) 0%, rgba(255,255,255,0.1) 50%, rgba(13,13,13,0.2) 99%);
  background: -ms-linear-gradient(left, rgba(13,13,13,0.2) 0%, rgba(255,255,255,0.1) 50%, rgba(13,13,13,0.2) 99%);
  background: linear-gradient(to right, rgba(13,13,13,0.2) 0%, rgba(255,255,255,0.1) 50%, rgba(13,13,13,0.2) 99%);
  z-index: 20;
}
#services .categories .wrapper .overlay:after {
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  -ms-transition: all 0.1s linear;
  transition: all 0.1s linear;
  content: '';
  position: absolute;
  left: 0;
  -webkit-box-shadow: 0 0 10px #000;
  box-shadow: 0 0 10px #000;
  border-radius: 50%;
  width: 100%;
  height: 20px;
  display: block;
  bottom: 0px;
  clip: rect(20px auto 40px auto);
}
#services .categories .wrapper .overlay:hover:after {
  -webkit-box-shadow: 0 0 15px #000;
  box-shadow: 0 0 15px #000;
}
#services .categories .wrapper a {
  color: #000;
  text-decoration: none;
  position: relative;
}
#services .categories .wrapper a img {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 2px;
  height: 257px;
  width: 287px;
}
#services .categories .wrapper .title {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-transform: uppercase;
  display: inline-block;
  position: absolute;
  font-size: 26px;
  font-weight: 200;
  margin: 0;
  z-index: 20;
  left: 0px;
  padding-top: 268px;
  color: #090804;
  width: 287px;
}
#services .categories .wrapper .title:hover {
  text-shadow: 0px 1px 1px rgba(0,0,0,0.3);
}
@media (min-width: 768px) {
  #services .categories .wrapper {
    -webkit-flex-basis: 50%;
    flex-basis: 50%;
  }
}
@media (min-width: 992px) {
  #services .categories .wrapper {
    -webkit-flex-basis: 33%;
    flex-basis: 33%;
  }
}
#services .categories .wrapper h3 {
  text-transform: uppercase;
}
#benefits {
  text-align: center;
}
#benefits div {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: distribute;
  -moz-box-pack: distribute;
  -o-box-pack: distribute;
  -ms-flex-pack: distribute;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -o-box-orient: horizontal;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
}
#benefits div p {
  cursor: pointer;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin: 10px 10px 40px 10px;
  padding-top: 160px;
  background-repeat: no-repeat;
  background-position: center;
}
#benefits div p span {
  display: inline-block;
}
@media (max-width: 768px) {
  #benefits div p {
    -webkit-flex-basis: 100%;
    flex-basis: 100%;
  }
}
@media (min-width: 768px) {
  #benefits div p {
    -webkit-flex-basis: 30%;
    flex-basis: 30%;
  }
}
@media (min-width: 992px) {
  #benefits div p {
    -webkit-flex-basis: 30%;
    flex-basis: 30%;
  }
}
#benefits div p#departure {
  background-image: url("../img/departure.png");
}
#benefits div p#departure:hover {
  -webkit-animation: benefitsAnim1 0.4s infinite;
  -moz-animation: benefitsAnim1 0.4s infinite;
  -o-animation: benefitsAnim1 0.4s infinite;
  -ms-animation: benefitsAnim1 0.4s infinite;
  animation: benefitsAnim1 0.4s infinite;
}
#benefits div p#quality {
  background-image: url("../img/quality.png");
}
#benefits div p#quality:hover {
  -webkit-animation: benefitsAnim2 0.4s infinite;
  -moz-animation: benefitsAnim2 0.4s infinite;
  -o-animation: benefitsAnim2 0.4s infinite;
  -ms-animation: benefitsAnim2 0.4s infinite;
  animation: benefitsAnim2 0.4s infinite;
}
#benefits div p#costumes {
  background-image: url("../img/costumes.png");
}
#benefits div p#costumes:hover {
  -webkit-animation: benefitsAnim3 0.4s infinite;
  -moz-animation: benefitsAnim3 0.4s infinite;
  -o-animation: benefitsAnim3 0.4s infinite;
  -ms-animation: benefitsAnim3 0.4s infinite;
  animation: benefitsAnim3 0.4s infinite;
}
#collective-work {
  text-align: center;
  background: -webkit-linear-gradient(left, rgba(13,13,13,0.1) 0%, rgba(255,255,255,0.28) 30%, rgba(255,255,255,0.28) 70%, rgba(13,13,13,0.1) 99%), url("../img/collective-bckg.jpg") center center scroll;
  background: -moz-linear-gradient(left, rgba(13,13,13,0.1) 0%, rgba(255,255,255,0.28) 30%, rgba(255,255,255,0.28) 70%, rgba(13,13,13,0.1) 99%), url("../img/collective-bckg.jpg") center center scroll;
  background: -o-linear-gradient(left, rgba(13,13,13,0.1) 0%, rgba(255,255,255,0.28) 30%, rgba(255,255,255,0.28) 70%, rgba(13,13,13,0.1) 99%), url("../img/collective-bckg.jpg") center center scroll;
  background: -ms-linear-gradient(left, rgba(13,13,13,0.1) 0%, rgba(255,255,255,0.28) 30%, rgba(255,255,255,0.28) 70%, rgba(13,13,13,0.1) 99%), url("../img/collective-bckg.jpg") center center scroll;
  background: linear-gradient(to right, rgba(13,13,13,0.1) 0%, rgba(255,255,255,0.28) 30%, rgba(255,255,255,0.28) 70%, rgba(13,13,13,0.1) 99%), url("../img/collective-bckg.jpg") center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
}
#collective-work p {
  width: 78%;
  margin: auto;
  font-weight: 600;
}
@media (min-width: 992px) {
  #collective-work p {
    width: 70%;
  }
}
#collective-work .logo-inner {
  cursor: default;
  width: 100vw;
  margin-top: 50px;
  margin-left: -10px;
  background: rgba(255,255,255,0.4);
  padding: 3vw 0;
  border-top: 2px solid rgba(0,0,0,0.3);
  border-bottom: 2px solid rgba(0,0,0,0.3);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@media (min-width: 768px) {
  #collective-work .logo-inner {
    margin-left: -30px;
  }
}
@media (min-width: 992px) {
  #collective-work .logo-inner {
    margin-left: -50px;
  }
}
#collective-work .logo-inner .main-title {
  font-weight: 400;
  text-transform: uppercase;
  font-family: "Times New Roman";
  font-size: 30px;
  line-height: 20px;
  margin: 15px 0 0 0;
}
@media (min-width: 768px) {
  #collective-work .logo-inner .main-title {
    margin: 10px 0 0 0;
  }
}
@media (min-width: 992px) {
  #collective-work .logo-inner .main-title {
    height: 34px;
    margin: 0;
    font-size: 42px;
    line-height: 28px;
  }
}
@media (min-width: 1200px) {
  #collective-work .logo-inner .main-title {
    height: 34px;
    margin: 0;
    font-size: 48px;
    line-height: 28px;
  }
}
#collective-work .logo-inner .main-subtitle {
  font-weight: 200;
  font-size: 6.8px;
}
@media (min-width: 768px) {
  #collective-work .logo-inner .main-subtitle {
    line-height: 10px;
  }
}
@media (min-width: 992px) {
  #collective-work .logo-inner .main-subtitle {
    height: 26px;
    margin: 0px 0 0 0;
    font-size: 10px;
    line-height: 32px;
  }
}
@media (min-width: 1200px) {
  #collective-work .logo-inner .main-subtitle {
    font-size: 11px;
    line-height: 28px;
  }
}
#feedback {
  text-align: center;
  background: -webkit-linear-gradient(left, rgba(13,13,13,0.1) 0%, rgba(255,255,255,0.28) 30%, rgba(255,255,255,0.28) 70%, rgba(13,13,13,0.1) 99%), url("../img/collective-bckg.jpg") center center scroll;
  background: -moz-linear-gradient(left, rgba(13,13,13,0.1) 0%, rgba(255,255,255,0.28) 30%, rgba(255,255,255,0.28) 70%, rgba(13,13,13,0.1) 99%), url("../img/collective-bckg.jpg") center center scroll;
  background: -o-linear-gradient(left, rgba(13,13,13,0.1) 0%, rgba(255,255,255,0.28) 30%, rgba(255,255,255,0.28) 70%, rgba(13,13,13,0.1) 99%), url("../img/collective-bckg.jpg") center center scroll;
  background: -ms-linear-gradient(left, rgba(13,13,13,0.1) 0%, rgba(255,255,255,0.28) 30%, rgba(255,255,255,0.28) 70%, rgba(13,13,13,0.1) 99%), url("../img/collective-bckg.jpg") center center scroll;
  background: linear-gradient(to right, rgba(13,13,13,0.1) 0%, rgba(255,255,255,0.28) 30%, rgba(255,255,255,0.28) 70%, rgba(13,13,13,0.1) 99%), url("../img/collective-bckg.jpg") center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
}
#feedback .numbers a {
  font-family: 'amsdam';
  display: block;
  color: #000;
  text-decoration: none;
}
#feedback form {
  background: #fff;
  border-radius: 2px;
  padding: 20px;
  background: transparent;
}
#feedback form ul {
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: distribute;
  -moz-box-pack: distribute;
  -o-box-pack: distribute;
  -ms-flex-pack: distribute;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -o-box-orient: horizontal;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
}
#feedback form ul li {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: inline-block;
  padding: 9px;
  margin: 10px;
}
@media (max-width: 768px) {
  #feedback form ul li {
    -webkit-flex-basis: 100%;
    flex-basis: 100%;
  }
}
@media (min-width: 768px) {
  #feedback form ul li {
    -webkit-flex-basis: 30%;
    flex-basis: 30%;
  }
}
#feedback form ul li:last-child {
  border: none;
  margin-bottom: 0px;
  text-align: center;
}
@media (min-width: 768px) {
  #feedback form ul li:last-child {
    -webkit-flex-basis: 10%;
    flex-basis: 10%;
  }
}
#feedback form ul input[type="text"],
#feedback form ul input[type="tel"] {
  font-family: 'amsdam';
  padding: 25px 20px;
  color: #666;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  display: block;
  outline: none;
  border: none;
  height: 25px;
  line-height: 25px;
  font-size: 14px;
  border: 1px solid #ddd;
  border-radius: 3px;
}
@media (min-width: 768px) {
  #feedback form ul input[type="text"],
  #feedback form ul input[type="tel"] {
    font-size: 18px;
  }
}
#feedback form ul input[type="submit"] {
  width: 100%;
  height: 51px;
  background: #e1e1e1;
  padding: 10px 20px 10px 20px;
  border-radius: 2px;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 2px;
  border: 0px solid #c5c5c5;
  border-bottom: 3px solid #c5c5c5;
  color: #7a7a7a;
}
#feedback form ul input[type="submit"]:focus {
  outline: none;
}
#feedback form ul input[type="submit"]:hover {
  background: #cecece;
  color: #222;
  border-bottom: 3px solid #666;
}
@-moz-keyframes scrollMe {
  0% {
    margin: 0 0 0 0;
  }
  40% {
    margin: 5px 0 0 0;
  }
  95% {
    margin: 0 0 0 0;
  }
}
@-webkit-keyframes scrollMe {
  0% {
    margin: 0 0 0 0;
  }
  40% {
    margin: 5px 0 0 0;
  }
  95% {
    margin: 0 0 0 0;
  }
}
@-o-keyframes scrollMe {
  0% {
    margin: 0 0 0 0;
  }
  40% {
    margin: 5px 0 0 0;
  }
  95% {
    margin: 0 0 0 0;
  }
}
@keyframes scrollMe {
  0% {
    margin: 0 0 0 0;
  }
  40% {
    margin: 5px 0 0 0;
  }
  95% {
    margin: 0 0 0 0;
  }
}
@-moz-keyframes benefitsAnim1 {
  0% {
    background-position: center;
  }
  40% {
    background-position-x: 49%;
  }
  70% {
    background-position: center;
  }
  90% {
    background-position-x: 51%;
  }
}
@-webkit-keyframes benefitsAnim1 {
  0% {
    background-position: center;
  }
  40% {
    background-position-x: 49%;
  }
  70% {
    background-position: center;
  }
  90% {
    background-position-x: 51%;
  }
}
@-o-keyframes benefitsAnim1 {
  0% {
    background-position: center;
  }
  40% {
    background-position-x: 49%;
  }
  70% {
    background-position: center;
  }
  90% {
    background-position-x: 51%;
  }
}
@keyframes benefitsAnim1 {
  0% {
    background-position: center;
  }
  40% {
    background-position-x: 49%;
  }
  70% {
    background-position: center;
  }
  90% {
    background-position-x: 51%;
  }
}
@-moz-keyframes benefitsAnim2 {
  0% {
    background-position: center;
  }
  40% {
    background-position-y: 48%;
  }
  70% {
    background-position: center;
  }
  90% {
    background-position-y: 52%;
  }
}
@-webkit-keyframes benefitsAnim2 {
  0% {
    background-position: center;
  }
  40% {
    background-position-y: 48%;
  }
  70% {
    background-position: center;
  }
  90% {
    background-position-y: 52%;
  }
}
@-o-keyframes benefitsAnim2 {
  0% {
    background-position: center;
  }
  40% {
    background-position-y: 48%;
  }
  70% {
    background-position: center;
  }
  90% {
    background-position-y: 52%;
  }
}
@keyframes benefitsAnim2 {
  0% {
    background-position: center;
  }
  40% {
    background-position-y: 48%;
  }
  70% {
    background-position: center;
  }
  90% {
    background-position-y: 52%;
  }
}
@-moz-keyframes benefitsAnim3 {
  0% {
    background-position: center;
  }
  40% {
    background-position-y: 46%;
  }
  70% {
    background-position: center;
  }
  90% {
    background-position-y: 54%;
  }
}
@-webkit-keyframes benefitsAnim3 {
  0% {
    background-position: center;
  }
  40% {
    background-position-y: 46%;
  }
  70% {
    background-position: center;
  }
  90% {
    background-position-y: 54%;
  }
}
@-o-keyframes benefitsAnim3 {
  0% {
    background-position: center;
  }
  40% {
    background-position-y: 46%;
  }
  70% {
    background-position: center;
  }
  90% {
    background-position-y: 54%;
  }
}
@keyframes benefitsAnim3 {
  0% {
    background-position: center;
  }
  40% {
    background-position-y: 46%;
  }
  70% {
    background-position: center;
  }
  90% {
    background-position-y: 54%;
  }
}
